.main {
    display: flex;
    min-height: 100vh;
    position: relative;
    justify-content: center;
}
.dragBox {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: 0.3s;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -50px;
    cursor: pointer;
    &:hover {
        opacity: 0.8;
    }
}
.videoWrapper {
    display: flex;
    position: relative;

    > video {
        margin-right: 20px;
        max-width: 1280px;
    }
}

@media (max-width: 960px) {
    .videoWrapper {
        flex-direction: column;
        > video {
            margin-right: 0;
            width: 100%;
        }
    }
}

.configItem {
    margin-bottom: 10px;
}
