.videoOverlay{
    position: absolute;
    left:0;
    right:0;
    bottom:0;
    height: 80px;
    width: 100%;
}

.overlayBox{
    border-radius: 10px;
    background-color: #000;
    filter:blur(2px)
}