.wrapper {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

.wrapper > div {
    column-count: 2;
    column-gap: 0;

}
.dragBox{
    break-inside: avoid;
    box-sizing: border-box;

    margin-bottom: 16px;
    border:1px solid yellow;
    padding:0.5em;
    border-radius: 0.2em;
}


