$--read-text-color: rgb(208, 211, 216);
.read-box {
    /* 定义滚动条的样式 */
    ::-webkit-scrollbar {
        width: 5px; /* 设置滚动条的宽度 */
    }

    /* 定义滚动条轨道的样式 */
    ::-webkit-scrollbar-track {
        background-color: rgba(0, 0, 0, 0.8); /* 设置滚动条轨道的背景颜色 */
    }

    /* 定义滚动条滑块的样式 */
    ::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 1); /* 设置滚动条滑块的背景颜色 */
    }

    /* 定义滚动条滑块悬停状态的样式 */
    ::-webkit-scrollbar-thumb:hover {
        background-color: rgba(
            0,
            0,
            0,
            0.3
        ); /* 设置滚动条滑块悬停状态的背景颜色 */
    }

    h1 {
        font-size: 5rem;
        text-align: center;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    // 作者信息
    .Index_articleInfo_2wc3n {
        text-align: center;
        margin: 1rem;
    }
    // 封面
    .Index_articleCover_3sTdB {
        padding: 4rem 0;
        img {
            width: 100%;
            border-radius: 1rem;
        }
        .Pharmacode_main_2SACi {
            display: none;
        }
    }
    // 播放器
    .AudioPlayerPC_main_1QFlQ {
        display: none;
    }
    // 富文本内容
    .RichContentPC_main_1kh1i {
        font-family: 'apercu';
        color: $--read-text-color;
        h2 {
            font-size: 2rem;
            margin-top: 2rem;
            margin-bottom: 2rem;
            [data-slate-string='true'] {
                font-size: 2rem;
            }
        }
        h3 {
            font-size: 1.75rem;
            margin-top: 1.75rem;
            margin-bottom: 1.75rem;
            [data-slate-string='true'] {
                font-size: 1.75rem;
            }
        }
        // 文本区域
        [data-slate-string='true'] {
            color: $--read-text-color !important;
            font-size: 1.5rem;
            line-height: 1.8;
        }
        // 处理代码区域
        [data-slate-type='pre'] {
            background-color: #000;
        }
        [data-code-line-number] {
            margin-bottom: 1rem;
        }

        [data-slate-type='code-line'] {
            margin-bottom: 1rem;
            &::before {
                font-size: 14px;
            }
        }
        .simplebar-placeholder,
        .simplebar-vertical {
            display: none;
        }
        .simplebar-content-wrapper {
            overflow: auto !important;
        }

        // 处理图片
        [data-slate-type='image'] {
            min-height: 200px;
        }
    }

    // 评论
    .Index_comment_1Pwfq,
    .noteDialog_noteDialog_2w-W2,
    .noteMenu_noteMenu_zbKHG,
    .Index_copyright_3Cbwk {
        display: none;
    }
    // 精选留言
    .Index_comments_3HIaO {
        h2 {
            font-size: 2rem;
            margin-top: 2rem;
            margin-bottom: 2rem;
        }
    }
}
