.wrapper{
  width: 750px;
  margin:0 auto;
  padding-bottom: 40px;
  >h1{
    text-align: center;
    padding:1em 0;

  }
}
.outputBox{
  padding:1em;
  display: flex;
  flex-direction: column;
  gap:0.5em;
}
.outputItem{
  cursor: copy;
}