:root {
    --bg-color-main: #0d0d0f;
    --bg-color-secondary: #16161b;
    --font-color:rgb(244,244,244);
    --font-subtitle-color:rgba(228, 226, 222,0.7);
    --link-color:rgba(255, 255, 255, 0.7);
    --color-primary:rgb(22, 119, 255);
    --radius-sm:4px;
    --radius-md:8px;

}
/* 设置滚动条的样式 */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
/* 滚动槽 */
::-webkit-scrollbar-track {
    box-shadow: rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #999;
    box-shadow: rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: rgba(0, 0, 0, 0.5);
}



* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
a{
    color:var(--link-color);
    text-decoration: none;
    opacity: 0.85;
    transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    &:hover{
        opacity: 1;
    }
}

html,
body {
    max-width: 100vw;
    color: var(--font-color);
    background: var(--bg-color-main);
}

