:root {
    --bg-color-main: #0d0d0f;
    --bg-color-secondary: #16161b;
    --font-color:#fff;
   
}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
    color: var(--font-color);
    background: var(--bg-color-main);
}

.home-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 1em;
    gap:1em;
    h1{
        text-align: center;

    }
}